.App {
  text-align: center;
}

.Card {
  width: 100px;
  margin: 10px auto;
}

.open {
  color: red;
  background-color: white;
}

.closed {
  color: black;
  background-color: black;
}

.matched {
  color: green;
  background-color: white;
  pointer-events: none;
}
